@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    color: #ac942c;
    background-color:#e7e2e2;
 magin: 0px;
 margin-bottom: 100px;
 font-family: "Roboto Mono", monospace;
}

header{
    border-bottom: solid 2px;
    margin: 20px;
    font-size: 32px;
    color: black;
}

section{
padding-bottom: 80px;
padding-top: 80px;
background: rgb(233, 230, 230);
display: flex;
justify-content: center;
}



h1{
    color:#2f2ce4;
    font-size: 35px;
}

p{
    font-size: 25px;
}