@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    color: #d8d4d4;
    background-color:#cfc7c2;
 margin: 0px;
 margin-bottom: 100px;
 font-family: "Roboto Mono", monospace;
}

header{
    border-bottom: solid 2px;
    margin: 20px;
    font-size: 32px;
    color: black;
}

section{
padding-bottom: 80px;
padding-top: 80px;
background: rgb(134, 100, 5);
display: flex;
justify-content: center;
}



h1{
    color:#000000;
    font-size: 35px;
}

p{
    font-size: 25px;
}
.categoria{

    padding-left: 20px;
    padding-right: 20px;
    
    }
    
    .categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    img{
    
        height: 200px;
    }
    
    .categoria-videos img{
    
        opacity: 0.5;
        height: 200px;
    }
    
    .categoria-videos img:hover{
    
    opacity:1.0;
    border: 3px solid #857d7d;
    
    }
    
    .categoria h2{
    color: #a58e63;
    
    }
    
    
    .chamada-texto{
        margin-right: 1%;
        text-align: center;
        padding: 20px;
        background-color: #b8b1b1;
        color: #e2a635;
    }
